{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}

    <div class="container">
    <h1>Proposer un projet</h1>

    {{ include('project/_form.html.twig') }}

    </div>
{% endblock %}
